<!DOCTYPE html>
<html lang="es">
  <link rel="stylesheet" href="/css/users/userProfile.css">
  <%- include('../partials/head.ejs')%>
  <title>Login</title>
<body>
  <%- include('../partials/header.ejs')%>
    <h4><i class="fas fa-user-circle">PERFIL</i></h4>
    
    <div class="colDetalle">
        <p class="estDetalle">Nombre</p>
        <a class="dinamDetalle"><%= userLogin.nombre %></a>
    </div>
    <div class="colDetalle">
        <p class="estDetalle">Apellido</p>
        <a class="dinamDetalle"><%= userLogin.apellido %></a>
    </div>
    <div class="colDetalle">
        <p class="estDetalle">Email</p>
        <a class="dinamDetalle"><%= userLogin.email %></a>
    </div>
    <div class="colDetalle">
        <p class="estDetalle">Avatar</p>
        <img src="/img/users/<%= userLogin.avatar %>" alt="">
    </div>
    
</body> 
</html>